<div class="bg-white border border-blue-500 rounded-lg shadow-md p-2">
    <div class="text-center mb-2">
        <p class="text-sm sm:text-base md:text-lg flex justify-between items-center">
            <span class="w-1/3 text-right">AVG:</span> <span class="w-1/3 text-center">{{this.callingService.avgAngle.toFixed(0)}}°</span>
            <span class="w-1/3 text-left">MIN:</span> <span class="w-1/3 text-center">{{this.callingService.minAngle.toFixed(0)}}°</span>
            <span class="w-1/3 text-left">MAX:</span> <span class="w-1/3 text-center">{{this.callingService.maxAngle.toFixed(0)}}°</span>
        </p>
    </div>
    <div class="text-center mb-2">
        <p class="text-sm sm:text-base md:text-lg flex justify-center items-center">
            <span class="w-1/3 text-right">STRAINED:</span> <span class="w-1/3 text-center text-green-500">Y</span> / <span class="w-1/3 text-center text-red-500">N</span>
        </p>
    </div>
    <div class="text-center">
        <p class="text-sm sm:text-base md:text-lg flex justify-center items-center">
            <span class="w-1/3 text-right">HEART RATE:</span> <span class="w-1/3 text-center">70</span> <span class="w-1/3 text-left">BPM</span>
        </p>
    </div>
</div>
