<section class="join-section" *ngIf="!callingService.callId()">
  <body class="bg-transparent flex items-center justify-center h-screen flex-col">
    <h1 class="text-blue-500 text-6xl font-bold mb-8">Flexi-Care</h1>
    
    <div class="bg-white p-4 rounded shadow-md w-96">
      <h1 class="text-center text-2xl font-bold mb-6">Prepare for Your Appointment</h1>
      <div class="text-center">
        <button class="px-4 py-2 rounded text-white bg-blue-500" (click)="setCallId('1000'); setNameId('Doctor')">Join Meeting</button>
      </div>
    </div>
  </body>
  <ul class="background">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</section>
<section *ngIf="callingService.call()">
  <div class="conference">
    <div class="video-section">
      <app-call [call]="callingService.call()!"></app-call>
    </div>
    <div class="graph-section">
      <app-graphing></app-graphing>
    </div>
  </div>
</section>
<router-outlet />
