@import url("https://cdn.tailwindcss.com");

@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: whitesmoke;
  overflow: hidden;
  z-index: -1;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(214,228,252,0.95);
  animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
  left: 33%;
  width: 155px;
  height: 155px;
  bottom: -155px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 70%;
  width: 114px;
  height: 114px;
  bottom: -114px;
  animation-delay: 3s;
}
.background li:nth-child(2) {
  left: 9%;
  width: 155px;
  height: 155px;
  bottom: -155px;
  animation-delay: 3s;
}
.background li:nth-child(3) {
  left: 47%;
  width: 152px;
  height: 152px;
  bottom: -152px;
  animation-delay: 6s;
}
.background li:nth-child(4) {
  left: 34%;
  width: 102px;
  height: 102px;
  bottom: -102px;
  animation-delay: 7s;
}
.background li:nth-child(5) {
  left: 79%;
  width: 108px;
  height: 108px;
  bottom: -108px;
  animation-delay: 25s;
}
.background li:nth-child(6) {
  left: 7%;
  width: 154px;
  height: 154px;
  bottom: -154px;
  animation-delay: 4s;
}
.background li:nth-child(7) {
  left: 29%;
  width: 100px;
  height: 100px;
  bottom: -100px;
  animation-delay: 15s;
}
.background li:nth-child(8) {
  left: 27%;
  width: 109px;
  height: 109px;
  bottom: -109px;
  animation-delay: 2s;
}
.background li:nth-child(9) {
  left: 12%;
  width: 196px;
  height: 196px;
  bottom: -196px;
  animation-delay: 10s;
}
.video-section {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
.graph-section {
  flex: 1;
  padding: 20px;
  border-left: 1px solid #ccc;
}
.conference{
  display: flex;
  height: 100vh;
}